Name: postgresql-9.1
Version: 9.1
Architecture: i686/x86_64
Provides: postgresql-server
Depends:
Conflicts:
Type: Cartridge
Role: misc
Vendor: http://www.postgresql.org
DisplayName: postgresql-9.1
Description:
PostgreSQL is an object-relational database management system (ORDBMS).
